@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* > * {
    font-family: "Poppins", cursive;
    margin: 0;
}

body {
    background-color: hsl(55, 85%, 95%);
}

:root{
    --color-dark: #2C3131;
    --color-light: #F3F3F2;
}

#main{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    min-height: 100vh;
    padding-top: 2rem;
}

.board {
    text-align: center;
}

.board .leaderboard{
    margin-bottom: 1em;
}

.board .duration{
    display: flex;
    justify-content: center;
    gap: 1em;
}

.board .duration > button{
    border: 1px solid var(--color-light);
    padding: .5em 2em;
    border-radius: 50px;
    background-color: transparent;
    cursor: pointer;
}

.board .duration > button:hover{
    background-color: #094C3A;
    color: var(--color-light);
}

.active{
    background-color: #094C3A;
    color: var(--color-light);
}

#profile {
    margin-top: 3em;
}

#profile .flex {
    display: flex;
    justify-content: space-between;
    gap: 1em;
    text-align: left;
    margin-bottom: 2em;
}

#profile .flex .item {
    display: flex;
    align-items: center;
}

#profile .flex img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    object-fit: contain;
}

#profile .flex .info {
    padding: 1em;
}

.info {
    flex: 1;
}

.score {
    width: 80px;
    text-align: right;
}

.text-dark{
    color: var(--color-dark);
}

.rank{
    width: 40px;
    line-height: 80px;
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
}

.navbar{
    position: fixed;
    bottom: 0;
    left: 0;

    width: 100%;

    display: flex;
    justify-content: space-around;
    align-items: center;

    padding: 1rem;
    background: hsl(55, 85%, 95%);

    border-top: 1px solid hsl(55, 24%, 53%);
}

.navbar button{
    background: none;
    border: none;
    font-size: 1rem;
    cursor: pointer;
}

.navbar .active{
    font-weight: bold;
    color: #094C3A;
}

.scan-page {
    min-height: 100vh;
    text-align: center;
    padding-top: 40px;
}

.profile-pic {
    width: 120px;
    border-radius: 50%;
    margin-bottom: 30px;
}

.stats-card {
    background-color: #094C3A;
    width: 80%;
    margin: auto;
    padding: 20px;
    border-radius: 20px;
}

.stat-box {
    background-color: white;
    padding: 20px;
    margin: 20px 0;
    border-radius: 10px;
}

.scan-button {
    margin-top: 100px;
    width: 80%;
    height: 100px;

    background-color: #094C3A;
    color: #ffffff;

    border: none;
    border-radius: 20px;

    font-size: 2rem;
    font-weight: bold;

    cursor: pointer;
}